/********************************
main-visual
********************************/
.main-visual-img {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

/********************************
About
********************************/
.about-section {
  margin-top: 80px;
}

.about-container {
  max-width: 531px;
  padding-right: 4%;
  padding-left: 4%;
}

.about-title {
  position: relative;
  text-align: center;
  font-size: 32px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.about-title::after {
  position: absolute;
  content: "";
  display: block;
  width: 106px;
  border-bottom: #383e45 1px solid;
  bottom: -10px;
  left: 51%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about-contents {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}
@media (max-width: 600px) {
  .about-contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about-img-container {
  width: 100px;
  height: 100px;
  min-width: 100px;
  min-height: 100px;
}
@media (max-width: 600px) {
  .about-img-container {
    margin: 0 auto;
  }
}

.about-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.about-profile {
  margin-left: 30px;
}
@media (max-width: 600px) {
  .about-profile {
    margin-top: 10px;
  }
}

.about-profile-name {
  font-size: 16px;
  font-weight: bold;
}

.about-profile-text {
  margin-top: 10px;
  font-size: 14.4px;
}

/********************************
Bicycle
********************************/
.bicycle-section {
  margin-top: 115px;
}
@media (max-width: 600px) {
  .bicycle-section {
    margin-top: 100px;
  }
}

.bicycle-container {
  padding-right: 4%;
  padding-left: 4%;
}

.bicycle-title {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  position: relative;
}
.bicycle-title::after {
  position: absolute;
  content: "";
  width: 122px;
  border-bottom: solid 1px rgb(56, 62, 69);
  left: 50%;
  bottom: -10px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bicycle-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}
@media (max-width: 600px) {
  .bicycle-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.bicycle-item {
  width: 30%;
}
.bicycle-item a {
  display: block;
  height: 100%;
}
@media (max-width: 600px) {
  .bicycle-item {
    width: 100%;
  }
  .bicycle-item:not(:first-child) {
    margin-top: 30px;
  }
}

.bicycle-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bicycle-item-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.bicycle-item-text {
  font-size: 14.4px;
  margin-top: 10px;
  text-align: center;
}