@charset 'UTF-8';

$main-color: #ffffff;
$logo-font-color: #ffffff;
$font-color: rgba(56, 62, 69, 1);
$title-font-size: 32px;
$text-font-size: 14.4px;

//ブレークポイント
$breakpoints: (
    'pc': "(min-width: 601px)",
    'sp': "(max-width: 600px)",
) !default;

//メディアクエリー
@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

/********************************
main-visual
********************************/

.main-visual {
}

.main-visual-img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

/********************************
About
********************************/

.about-section {
    margin-top: 80px;
}

.about-container {
    max-width: 531px;
    padding-right: 4%;
    padding-left: 4%;
}

.about-title {
    position: relative;
    text-align: center;
    font-size: $title-font-size;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    &::after {
        position: absolute;
        content: '';
        display: block;
        width: 106px;
        border-bottom: #383e45 1px solid;
        bottom: -10px;
        left: 51%;
        transform: translate(-50%, -50%);
    }
}

.about-contents {
    display: flex;
    margin-top: 80px;

    @include mq('sp') {
        flex-direction: column;
    }
}

.about-img-container {
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;

    @include mq('sp') {
        margin: 0 auto;
    }
}

.about-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.about-profile {
    margin-left: 30px;

    @include mq('sp') {
        margin-top: 10px;
    }
}

.about-profile-name {
    font-size: 16px;
    font-weight: bold;
}

.about-profile-text {
    margin-top: 10px;
    font-size: $text-font-size;
}


/********************************
Bicycle
********************************/

.bicycle-section {
    margin-top: 115px;

    @include mq('sp') {
        margin-top: 100px;
    }
}

.bicycle-container {
    padding-right: 4%;
    padding-left: 4%;
}

.bicycle-title {
    font-size: $title-font-size;
    font-weight: 600;
    text-align: center;
    position: relative;

    &::after {
        position: absolute;
        content: '';
        width: 122px;
        border-bottom: solid 1px rgba(56, 62, 69, 1);
        left: 50%;
        bottom: -10px;
        transform: translate(-50%, -50%);
    }
}

.bicycle-items {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;

    @include mq('sp') {
        flex-direction: column;
    }
}

.bicycle-item {
    width: 30%;

    a {
        display: block;
        height: 100%;
    }

    @include mq('sp') {
        width: 100%;

        &:not(:first-child) {
            margin-top: 30px;
        }
    }
}

.bicycle-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bicycle-item-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.bicycle-item-text {
    font-size: $text-font-size;
    margin-top: 10px;
    text-align: center;
}